.card-1{
    text-align: center;
    margin-top: 610px;
    margin-bottom: 50px;
}
.c1{
    background-image: url("img/pic1.png");
    background-repeat: no-repeat;
    background-position: center;  
    /* background-position-y: center; */
}
.q1{
    text-align: center;
}